<a href="{{ path('sylius_wishlist_add_product', {'product': product.id}) }}">
    <button id="sylius-add-to-wishlist-button" class="ui huge secondary icon labeled button" style="width: 100%">
        <span>Add to wishlist</span>
    </button>
</a>
