<div class="right aligned column">
    <a href="{{ path('sylius_wishlist_show_products') }}">
        <div id="sylius-wishlist-button" class="ui circular button">
            <i class="list icon"></i>
            <span>Wishlist</span>
        </div>
    </a>
</div>

